@import url(base.css);
header{
	width: 100%;
	height: 40px;
	background-color: #444;
}
main{
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
main div{
	font-size: 10px;
	color: #a8a8aa;
}
/*头部结束*/
/*导航开始*/
nav{
	width: 100%;
	height: 44px;
	background-color: #333;
}
nav ul{
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul a{
	display: block;
	height: 44px;
	padding: 0 10px;
	color: #fff;
	font-size: 12px;
	line-height: 44px;
	transition: all 0.1s linear;
}
nav ul a:hover{
	color:#757575;
}

/*列表开始*/
.list,.list ul{
	width: 100%;
}
.list ul li{
	width: 100%;
	margin-bottom: 12px;
	position: relative;
	background-color: #00a0c1;
}
.list ul li .lia{
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.list ul .iphoneX{
	background-color: #fafafa;
}
.list ul .ipad{
	background-color: #F5F5F5;
}
.iphoneX .lia h1{
	 color: #111111;
	 text-align: center;
}
.iphoneX .lia h2{
	color: #111111;
	text-align: center;
	font-weight: normal;
}
.iphoneX .lia div{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right: auto;
}
.iphoneX .buy{
	width: 100%;
	height: 29px;
	text-align: center;
	position: absolute;
}
.iphoneX .buy a{
	display: inline-block;
	color: #0070c9;
	font-weight: normal;
	font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/*列表结束*/

/*六宫格开始*/
.list1,.lise1 ul{
	width: 100%;
	height: auto;
}
.list1 ul li{
	float: left;
	border-bottom: 12px solid #000000;
	box-sizing: border-box;
}
.list1 ul .li1 .sixa{
	display: block;
	width: 100%;
	height: 100%;
	color: #111111;
}
.list1 ul .li1 .sixa h2{
	text-align: center;
}
.list1 ul .li1 .sixa h3{
	text-align: center;
}
















/*大屏幕*/
@media screen and (min-width: 1024px){
	main{
		width: 976px;
	}
	/*导航开始*/
	nav ul{
		width: 980px;
	}
	.max{
		display: block;
	}
	.min{
		display: none;
	}
	/*导航结束*/

	/*列表开始*/
	.list ul li{
		height: 580px;
		/*background-color: #FAFAFA;*/
	}
	.list ul li .lia{
		height: 580px;
	}
	.iphoneX .lia h1{
		line-height: 60px;
		font-size: 52px;
		margin-top: 87px;
	}
	.ipad .lia h1{
		margin-top: 48px;
	}
	.iphoneX .lia h2{
		line-height: 31px;
		font-size: 24px;
		letter-spacing: -1px;
		margin-top: 6px;
		margin-left: 20px;
	}
	.iphoneX .lia div{
		width: 1068px;
		height: 337px;
		background: url("../img/iphone_x_large.jpg") no-repeat center;
		background-size: 1068px 337px;
		bottom: -41px;
	}
	.ipad .lia div{
		width: 930px;
		height: 355px;
		background: url("../img/ipad_large.jpg") no-repeat center;
		background-size: 930px 355px;
		bottom: 0;
	}
	.iphoneX .buy{
		top: 198px;
	}
	.ipad .buy{
		top: 158px;
	}
	.iphoneX .buy a{
		height: 29px;
		font-size: 18px;
		line-height:29px;
	}
	.iphoneX .buy a:first-child{
		margin-left: -10px;
	}
	.iphoneX .buy a:last-child{
		margin-left: 25px;
	}
	/*六宫格开始*/
	.list1 ul li{
		width: 50%;
		height: 592px;
		border-left: 12px solid #000000;
		border-right: 6px solid #000000;
	}
	.list1 ul li:nth-child(2n){
		border-left: 6px solid #000000;
		border-right: 12px solid #000000;
	}
	.list1 ul .li1{
		background: url("../img/shop_for_college_large.jpg") no-repeat center;
	}
	.list1 ul .li3{
		background: url("../img/iphone_x_a11_large.jpg") no-repeat center;
	}
	.list1 ul .li1 .sixa h2{
		width: 430px;
		height: 44px;
		margin: 52px auto 0;
		font-size: 35px;
		line-height: 44px;
	}
	.list1 ul .li1 .sixa h3{
		width: 430px;
		height: 52px;
		margin: 4px auto 0;
		font-size: 19px;
		line-height: 26px;
	}
}
/*中等屏幕*/
@media screen and (max-width: 1024px){
	main{
		padding-right: 22px;
	}
	.max{
		display: block;
	}
	.min{
		display: none;
	}
	nav ul{
		padding: 0 22px;
	}
	/*列表开始*/
	.list ul li{
		height: 580px;
		/*background-color: #FAFAFA;*/
	}
	.list ul li .lia{
		height: 580px;
	}
	.iphoneX .lia h1{
		line-height: 48px;
		font-size:42px;
		margin-top: 101px;
	}
	.ipad .lia h1{
		margin-top: 80px;
		font-size: 40px;
	}
	.iphoneX .lia h2{
		line-height: 28px;
		font-size: 22px;
		margin-top: 5px;
	}
	.ipad .lia h2{
		line-height: 28px;
		font-size: 22px;
		margin-top: 5px;
		margin-left: 20px;
	}
	.iphoneX .lia div{
		width: 736px;
		height: 336px;
		background: url("../img/iphone_x_medium.jpg") no-repeat center;
		background-size: 736px 336px;
		bottom: -34px;
	}
	.ipad .lia div{
		width:650px;
		height: 325px;
		background: url("../img/ipad_medium.jpg") no-repeat center;
		background-size: 650px 325px;
		bottom: 0;
	}
	.iphoneX .buy{
		 top: 193px;
	 }
	.ipad .buy{
		top: 178px;
	}
	.iphoneX .buy a{
		height: 27px;
		font-size: 17px;
		line-height:27px;
	}
	.iphoneX .buy a:first-child{
		margin-left: 0;
	}
	.iphoneX .buy a:last-child{
		margin-left: 18px;
	}
	/*六宫格开始*/
	.list1 ul li{
		width: 50%;
		height: 502px;
		border-left: 12px solid #000000;
		border-right: 6px solid #000000;
	}
	.list1 ul li:nth-child(2n){
		border-left: 6px solid #000000;
		border-right: 12px solid #000000;
	}
	.list1 ul .li1{
		background: url("../img/shop_for_college_medium.jpg") no-repeat center;
	}
	.list1 ul .li3{
		background: url("../img/iphone_x_a11_medium.jpg") no-repeat center;
	}
	.list1 ul .li1 .sixa h2{
		width: 330px;
		height: 36px;
		margin: 42px auto 0;
		font-size: 28px;
		line-height: 36px;
	}
	.list1 ul .li1 .sixa h3{
		width: 330px;
		height: 46px;
		margin: 3px auto 0;
		font-size: 17px;
		line-height: 26px;
	}
}
/*小屏幕*/
@media screen and (max-width: 768px){
	header{
		height: 44px;
	}
	nav{
		height: 48px;
	}
	.max{
		display: none;
	}
	.min{
		display: block;
	}
	nav ul{
		padding: 0 22px;
	}
	nav ul a{
		height: 48px;
		line-height: 48px;
	}
	nav ul a span{
		font-size: 20px;
	}
	/*列表开始*/
	.list ul li{
		height: 500px;
	}
	.list ul li .lia{
		height: 500px;
	}
	.iphoneX .lia h1{
		line-height: 36px;
		font-size: 30px;
		margin-top: 28px;
	}
	.ipad .lia h1{
		line-height: 36px;
		font-size: 30px;
		margin-top: 36px;
	}
	.iphoneX .lia h2{
		line-height: 27px;
		font-size: 18px;
		margin-top: 2px;
	}
	.ipad .lia h2{
		width: 170px;
		margin: 2px auto 0;
		font-size: 17px;
	}
	.iphoneX .lia div{
		width: 320px;
		height: 353px;
		background: url("../img/iphone_x_small.jpg") no-repeat center;
		background-size: 320px 353px;
		bottom: 0;
	}
	.ipad .lia div{
		width: 228px;
		height: 340px;
		background: url("../img/ipad_small.jpg") no-repeat center;
		background-size: 228px 340px;
		bottom: -2px;
	}
	.iphoneX .buy{
		top: 97px;
	}
	.ipad .buy{
		top: 130px;
	}
	.iphoneX .buy a{
		height: 26px;
		font-size: 16px;
		line-height:26px;
	}
	.iphoneX .buy a:first-child{
		margin-left: 0;
	}
	.iphoneX .buy a:last-child{
		margin-left: 18px;
	}
	/*六宫格开始*/
	.list1 ul li{
		width: 100%;
		height: 519px;
		border-left:none;
		border-right:none;
	}
	.list1 ul li:nth-child(2n){
		border-left:none;
		border-right:none;
	}
	.list1 ul .li1{
		background: url("../img/shop_for_college_small.jpg") no-repeat center;
	}
	.list1 ul .li3{
		background: url("../img/iphone_x_a11_small.jpg") no-repeat center;
	}
	.list1 ul .li1 .sixa h2{
		width: 100%;
		height: 36px;
		margin: 37px auto 0;
		font-size: 28px;
		line-height: 36px;
	}
	.list1 ul .li1 .sixa h3{
		width: 280px;
		height: 46px;
		margin: 3px auto 0;
		font-size: 17px;
		line-height: 23px;
	}
}